/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Game Board and Leaderboard styles */
#gameBoard, #leaderboard {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Leaderboard specific styles */
#leaderboard h2 {
  color: #fff;  /* Changed to white */
}

#leaderboard ul {
  list-style: none;
  padding: 0;
}

#leaderboard li {
  background-color: #444;  /* Dark gray background */
  color: #fff;  /* White text */
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Compound and pKa row styles */
#compoundRow, #pKaRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Drag-over styles */
.drag-over {
  border: 2px dashed #000;
  margin: 10px;
}

/* pKa row styles */
#pKaRow > div {
  display: inline-block;
  border-right: 1px solid #000;
  padding: 10px;
  text-align: center;
}

#pKaRow > div:last-child {
  border-right: none;
}

/* Game Board hidden initially */
#gameBoard {
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
}

/* Score List styles */
#scoreList {
  background-color: #333;  /* Dark background */
  color: #fff;  /* White text */
}

#scoreList li {
  background-color: #444;  /* Slightly lighter background for each list item */
  color: #fff;  /* White text */
}
